.container {
  background-color: black;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0px 10px rgb(0 0 0 / 0.3);
}

.container > * {
  padding: 30px;
}

.container > *:hover {
  background-color: goldenrod;
  /* -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear; */
  transition: background-color 500ms linear;
}
